@import "../../../../../../../styles/colors";

.positionBlock{
  display: inline-block;
}

.inputBlock{
  input{
    padding: 5px;
    border: 1px solid $PRIMARY_COLOR;
  }
  button{
    padding: 5px;
    margin-left: -28px;
    border: 1px solid transparent;
    color: $PRIMARY_COLOR;
  }
  button:hover{
    font-weight: bold;
  }
}
