.userBlock{
  width: 800px;
  height: 150px;
  margin: 15px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  //align-items: stretch;

  border: 1px solid lightgrey;
  padding: 15px;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
