@import "../styles/colors";

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  a:hover {
    color: inherit;
  }
  button{
    &:active{
      user-select: none;
    }

    &:focus{
      outline: none;
    }
  }
  .headerButton{
    color: $PRIMARY_CONTRAST_COLOR;
    transition: all 0.1s ease-in;
    &:hover,&.active{
      color: $PRIMARY_COLOR;
      background: $PRIMARY_CONTRAST_COLOR;
    }
  }
  .headerTitle{
    flex-grow: 1;
  }
}
