.addItem {
  color: yellowgreen;
  display: inline;
  border: 2px solid yellowgreen;
  border-radius: 15px;
  background-color: white;
  width: 30px;
  margin: 20px;
  margin-left: 50px;
}

.addItem:active {
  background-color: yellowgreen;
  color: white;
  user-select: none;
}
