img{
  max-height: 200px;
  display: inline;
}

.delete{
  color: red;
  display: inline;
  border: 1px solid red;
  border-radius: 3px;
  background-color: white;
  width: 30px;
  margin-left: 15px;
}
