img{
  max-height: 200px;
  max-width: 400px;
  display: inline;
}

.delete{
  color: dodgerblue;
  display: inline;
  border: 1px solid dodgerblue;
  border-radius: 3px;
  background-color: white;
  width: 30px;
  margin-left: 15px;
}
