@import "../../../../../../styles/colors";

.usersListBlock{
  width: 80%;
  margin: 30px auto;
  user-select: none;
  outline: none;
  list-style: none;

    .deleteUser{
      color: $WARNING_COLOR;
      display: inline;
      border: 1px solid $WARNING_COLOR;
      border-radius: 3px;
      background-color: $BACKGROUND_COLOR;
      margin-left: 15px;

      &:hover{
        color: $BACKGROUND_COLOR;
        background-color: $WARNING_COLOR;
      }
    }
  }

li{
  margin-left: -38px;
}
