@import "../../../../../../styles/colors";

.imagePreviewBlock{
  img{
    max-height: 200px;
    max-width: 400px;
    display: inline;
  }

  button{
    display: inline;
    border: 1px solid $PRIMARY_COLOR;
    border-radius: 3px;
    background-color: transparent;
    color: $PRIMARY_COLOR;
    margin-left: 15px;
  }

}
